<div class="menu-item">
    <span>{{id}}</span>
    <span>{{race_id}}</span>
    <span>{{name}}</span>
    <span>{{gender}}</span>
    <span>{{alignment}}</span>
    <span>{{healthpoints}}</span>
    <span>{{strength}}</span>
    <span>{{dexterity}}</span>
    <span>{{constitution}}</span>
    <span>{{intelligence}}</span>
    <span>{{wisdom}}</span>
    <span>{{charisma}}</span>
</div>
