<!-- @root finds the top level object -->
<div name="content" class="menu-item col{{@root.params.table_columns}}">
    {{#each this}}
    <span>{{this}}</span>
    {{/each}}
    {{#ifequ @root.params.title "Characters Table"}}
    <span>
        <form action="/update/{{@root.url}}" method="post">
            <input type="hidden" name="itemid" value="{{this.id}}"/>
            <button type="submit" type="button">Edit</button>
        </form>
    </span>
    <span>
        <form action="/delete/{{@root.url}}" method="post">
            <input type="hidden" name="delID" value="{{this.id}}"/>
            <button type="submit" type="button">Delete</button>
        </form>
    </span>
    {{/ifequ}}
</div>
