<div class="container">
    <div class="statblock grid">
        <div class="stat" data-value="{{strength}}">
            <span>STR:</span>
            <span>{{strength}}</span>
        </div>
        <div class="stat" data-value="{{dexterity}}">
            <span>DEX:</span>
            <span>{{dexterity}}</span>
        </div>
        <div class="stat" data-value="{{constitution}}">
            <span>CON:</span>
            <span>{{constitution}}</span>
        </div>
        <div class="stat" data-value="{{intellegence}}">
            <span>INT:</span>
            <span>{{intellegence}}</span>
        </div>
        <div class="stat" data-value="{{wisdom}}">
            <span>WIS:</span>
            <span>{{wisdom}}</span>
        </div>
        <div class="stat" data-value="{{charisma}}">
            <span>CHA:</span>
            <span>{{charisma}}</span>
        </div>
    </div>
</div>
