<div class="topper">
    <span>
        <h3>Name:</h3>
        <span>{{name}}</span>
    </span>
    <span>
        <h3>Race:</h3>
        <span>{{race}}</span>
    </span>
    <span>
        <h3>Alignment:</h3>
        <span>{{race}}</span>
    </span>
    <span>
        <h3>Gender:</h3>
        <span>{{Gender}}</span>
    </span>
    <span >
        <h3>Armor Class: </h3>
        <span>{{armor_class}}</span>
    </span>
    <span >
        <h3>Initiative: </h3>
        <span>{{initiative}}</span>
    </span>
    <span >
        <h3>Speed: </h3>
        <span>{{speed}}</span>
    </span>
    <span >
        <h3>Health Points: </h3>
        <span>{{healthpoints}}</span>
    </span>
    <span >
        <h3>Inspiration: </h3>
        <span>{{inspiration}}</span>
    </span>
</div>
