<div class="frame">
    <form action="/additem/insert" method="post">
        <input type="hidden" name="destination" value="{{HTTP_REFERER}}"/>
        <fieldset>
            <legend>Item Information:</legend>
            {{#each fk_fields}}
            <div>
                <span>{{@key}}</span>
                <select name="{{@key}}">
                    <option value="Choose">Choose</option>
                    {{#each this}}
                    <option value="{{this.value}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            {{/each}}
            {{#each fields}}
            <div>
                <span>{{this.COLUMN_NAME}}</span>
                <input name="{{this.COLUMN_NAME}}" type="{{this.TYPE}}" value=""/>
            </div>
            {{/each}}
            <input type="submit" value="Submit">
        </fieldset>
    </form>
</div>
