<div class="frame">
    <form action="/update/update" method="post">
        <input type="hidden" name="destination" value="{{HTTP_REFERER}}"/>
        <fieldset>
            <legend>Item Information:</legend>
            {{#each fkFields}}
            <div>
                <span>{{@key}}</span>
                <select name="{{@key}}">
                    {{#each this}}
                    <option value="{{this.value}}">{{this.value}}</option>
                    {{/each}}
                </select>
            </div>
            {{/each}}
            {{#each fields}}
            <div>
                <span>{{@key}}</span>
                <input name="{{@key}}" type="text" value="{{this}}"/>
            </div>
            {{/each}}
            <input type="submit" value="Submit">
        </fieldset>
    </form>
</div>
